

body {
     background-color: #303030;
     font-family: sans-serif;
     margin-left: 20%;

     }

  h1 {
     color: #00A9C3;
     }

  h2 {
     color: #BBBBBB;
     }

  p  {
     color: #E87C01;
     }
